<mat-card>
    <h2>{{ isEditMode ? 'Editar' : 'Nuevo' }} Tipo de Dispositivo</h2>
    <form [formGroup]="form" (ngSubmit)="save()" class="form">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Tipo</mat-label>
            <input matInput formControlName="type" required>
        </mat-form-field>

        <mat-slide-toggle formControlName="enabled">Activo</mat-slide-toggle>

        <div class="actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                Guardar
            </button>
            <button mat-button type="button" (click)="router.navigate(['/device-types'])">Cancelar</button>
        </div>

    </form>
</mat-card>