<mat-toolbar color="primary">
    <span>Tipos de Dispositivo</span>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" routerLink="/device-types/new">
        <mat-icon>add</mat-icon>
        Nuevo
    </button>
</mat-toolbar>

<mat-card class="table-container">
    <table mat-table [dataSource]="deviceTypes()" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let d">{{ d.id }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let d">{{ d.type }}</td>
        </ng-container>

        <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef>Activo</th>
            <td mat-cell *matCellDef="let d">
                <mat-slide-toggle [checked]="d.enabled" disabled></mat-slide-toggle>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let d">
                <button mat-icon-button color="primary" [routerLink]="['/device-types/edit', d.id]">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(d.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
</mat-card>