<mat-sidenav-container class="layout-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-toolbar>Admin</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item *ngFor="let item of navItems" [routerLink]="item.path" routerLinkActive="active">
                <mat-icon matListIcon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <mat-toolbar color="primary">
            <span>Panel de Administración</span>
        </mat-toolbar>

        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>