<mat-sidenav-container class="layout-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="logo-container">
      <img src="logo-hor.svg" id="logo" />
    </div>
    <mat-divider></mat-divider>

    <div class="user-profile">
      <div class="avatarCircle">
        <div id="letters">
          <div>{{ user?.name?.charAt(0).toUpperCase() }}</div>
          <div>{{ user?.lastName?.charAt(0).toUpperCase() }}</div>
        </div>
      </div>
      <div class="my-info">
        <span class="username">{{ user?.username }}</span>

        <!-- NUEVO: etiqueta con el rol principal -->
        <span class="role-badge" *ngIf="mainRoleLabel">{{ mainRoleLabel }}</span>
      </div>


      <!-- (Opcional) chips con todos los roles del usuario -->
      <!--
      <div class="roles-chips" *ngIf="roleLabels.length > 1">
        <span class="chip" *ngFor="let r of roleLabels">{{ r }}</span>
      </div>
      -->
    </div>

    <a *ngFor="let item of navItems" [routerLink]="item.path" routerLinkActive="active" class="option">
      <mat-icon matListIcon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </a>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <mat-toolbar color="primary" class="top-toolbar">
      <span>Panel de Administración</span>
      <div class="option" (click)="logout()">
        <mat-icon matListIcon>logout</mat-icon>
      </div>
    </mat-toolbar>

    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>